* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
}
label {
    /*display: inline-block;*/
    /*width: 100%;*/
}

.section-app {
    position: relative;
    max-width: 800px;
    min-width: 580px;
    background-color: antiquewhite;
    margin: 10px auto;
    border-radius: 8px;
}

.section-app > header {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
}

.section-app > header > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section-app > footer {
    border-top: 1px solid #dcdcdc;
    padding: 10px 20px;
}

.section-app > footer > .notice {
    font-size: 14px;
    color: red;
}

.section-app > main {
    padding: 10px 20px;
}

.section-app > main > form {
    width: 500px;
    margin: 30px auto;
    display: flex;
    gap: 10px;
}

.section-app > main label,
.section-app > main input {
    flex: 1;
    width: 100%;
    height: 36px;
    font-size: 16px;
    padding-left: .3em;
}

.section-app > main > form button {
    height: 36px;
    width: 160px;
}

.rooms li {
    margin-bottom: 10px;
}

.rooms li > span {
    margin-right: 20px;
}

.rooms li > a {
    font-size: 14px;
}
.section-command {
    position: relative;
    max-width: 800px;
    min-width: 580px;
    margin: 10px auto;
    border-radius: 8px;
}
.section-command select {
    padding: 2px 5px;
    margin-right: 10px;
}
.section-command input {
    padding: 2px 5px;
    margin-right: 10px;
}
.section-command .result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.section-command > .result textarea {
    resize: none;
    width: 100%;
}
.section-command > .result  button {
    font-size: 18px;
}

.notify {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: gainsboro;
    color: red;
    text-align: center;
}
[v-cloak] {
    display: none;
}
