#init__loading__placeholder {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: opacity .5s linear;
}
.hidden {
    opacity: 0 !important;
}

#init__loading__placeholder .loading-title {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: 40px;
    margin-left: -70px;
    color: #0299be;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

#init__loading__placeholder .loading-grid {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
}

#init__loading__placeholder .loading {
    width: 10px;
    height: 10px;
    background-color: #0299be;
    float: left;
    -webkit-animation: loading-grid-scale-delay 1.3s infinite ease-in-out;
    animation: loading-grid-scale-delay 1.3s infinite ease-in-out;
}

#init__loading__placeholder .loading1 {
    border-top-left-radius: 4px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#init__loading__placeholder .loading2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#init__loading__placeholder .loading3 {
    border-top-right-radius: 4px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#init__loading__placeholder .loading4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#init__loading__placeholder .loading5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#init__loading__placeholder .loading6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#init__loading__placeholder .loading7 {
    border-bottom-left-radius: 4px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#init__loading__placeholder .loading8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#init__loading__placeholder .loading9 {
    border-bottom-right-radius: 4px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes loading-grid-scale-delay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes loading-grid-scale-delay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
